[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
cython = "*"
scipy = "*"
autograd = "*"
baselines = "*"
tensorflow = "*"

[packages]
numpy = "*"
gym = "*"
numba = "*"
gym-brt = {path = ".", editable = true}
